## NASA MARS NEWS

In [1]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests
import pymongo

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Url to scrape
url = 'https://redplanetscience.com/'
browser.visit(url)
html = browser.html
soup = bs(html, 'lxml')

In [4]:
news_title = soup.find_all('div', class_='content_title')[0].text
news_preview = soup.find_all('div', class_='article_teaser_body')[0].text

In [5]:
print(f"{news_title}: {news_preview}")

Newfound Martian Aurora Actually the Most Common; Sheds Light on Mars' Changing Climate: A type of Martian aurora first identified by NASA’s MAVEN spacecraft in 2016 is actually the most common form of aurora occurring on the Red Planet, according to new results from the mission.

## JPL Mars Space Images—Featured Image

In [6]:
# Url to Scrape
jpl_url = 'https://spaceimages-mars.com/'
browser.visit(jpl_url)
image_html = browser.html
soup = bs(image_html, 'lxml')

In [7]:
ft_img = soup.find('img', class_='headerimage')['src']

In [8]:
featured_image_url = jpl_url + ft_img
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

## Mars Facts

In [9]:
mars_facts_url = 'https://galaxyfacts-mars.com'
browser.visit(mars_facts_url)
mars_facts_html = browser.html
soup = bs(mars_facts_html, 'lxml')

In [10]:
tables = pd.read_html(mars_facts_url)

In [11]:
mars_facts = tables[0]
mars_facts

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [12]:
# Formatting Columns
mars_facts = mars_facts.rename(columns={0:"Description", 1:"Mars", 2:"Earth"}, errors="raise")
mars_facts = mars_facts.set_index('Description') 
mars_facts = mars_facts.iloc[1: , :]
mars_facts

                               Mars            Earth
Description
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [13]:
mars_facts_table = mars_facts.to_html()
mars_facts_table.replace('\n','')
print(mars_facts_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Diameter:</th>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Distance from Sun:</th>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>Length of Year:</th>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>Temperature:</th>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

## Mars Hemispheres

In [14]:
astro_url = 'https://marshemispheres.com/'
browser.visit(astro_url)
astro_html = browser.html
soup = bs(astro_html, 'lxml')

In [15]:
# Extract hemisphere item elements
mars_hemis = soup.find('div', class_='collapsible results')
mars_item = mars_hemis.find_all('div', class_='item')
hemisphere_img_urls = []

In [16]:
# Loop through each hemisphere item
hemisphere_img_urls = []
for item in mars_item:
    
    # Extract Title
    h3 = item.find_all('h3')
    img_title = h3[0].text
    
    # Extract IMG Url
    link = item.find('div',class_='description')
    a_url = link.a['href']
    
    # Go to page
    browser.visit(astro_url+a_url)
    img_html = browser.html
    soup = bs(img_html, 'lxml')
    img_src = soup.find('li').a['href']
    
    # Save the link
    
    img_url = astro_url + img_src
    
    # Save To Dictionary
    dict = {'title': img_title, 
            'img_url': img_url}
    
    hemisphere_img_urls.append(dict)

hemisphere_img_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [17]:
browser.quit()